{{ define "main"}}

<!--Banner-->
{{ range where .Site.Pages "Params.bannertheses" "!=" nil}}
{{ partial "gallery.html" (dict "Title" .Title "Content" .Content "Image" .Params.image "Git" true "Link" .Params.link "Width" 400 "Height" 300)}}
{{ end }}

{{- $odd := true}}

<div class="container pt-1">
  <div class="row justify-content-center pb-3">
    <div class="col-md-6 col-sm-10">
      <div class="row">
        {{ range where .Site.Pages "Params.thesis" "!=" nil}}
        {{if $odd}}
        <div class="col-lg-12 pt-3">
          {{ partial "card_thesis.html" (dict "Title" .Title "Content" .Content )}}
        </div>
        {{ end }}
        {{$odd = not $odd}}
        {{ end }}
      </div>
    </div>
    <div class="col-md-6 col-sm-10">
      <div class="row">
        {{$odd = false}}
        {{ range where .Site.Pages "Params.thesis" "!=" nil}}
        {{if $odd}}
        <div class="col-lg-12 pt-3">
          {{ partial "card_thesis.html" (dict "Title" .Title "Content" .Content )}}
        </div>
        {{ end }}
        {{$odd = not $odd}}
        {{ end }}
      </div>
    </div>
  </div>
</div>

{{end}}