<div class="card h-100 lightgrey">
   <div class="card-body">
      {{if .Publications}}
      <h4><i class="bi bi-person-vcard"></i> {{ .Title }}</h4>
      <a href="{{ .Link }}" class="stretched-link"></a>
      {{end}}
      {{if .Researchareas}}
      <h4><i class="bi bi-mortarboard"></i> {{ .Title }}</h4>
      <a href="{{ .Link }}" class="stretched-link"></a>
      {{end}}
      {{if .Jobs}}
      <h4><i class="bi bi-person-workspace"></i> {{ .Title }}</h4>
      {{end}}
      {{ .Content }}
      <div class="row">
         <a href="https://getbootstrap.com/docs/4.0/components/card/"
            class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-dark">{{
            .Linkone }}</a>
         <a href="https://getbootstrap.com/docs/4.0/components/card/"
            class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-dark">{{
            .Linktwo }}</a>
         <a href="https://getbootstrap.com/docs/4.0/components/card/"
            class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-dark">{{
            .Linktwo }}</a>
      </div>      
   </div>
</div>