{{ $lang_data := index site.Data site.Language.Lang}}

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <!--h-100 makes img height auf 100% so it is as high as 'parent'-element card-->
            {{partial "responsive_image.html" (dict "Image" .Image "Width" 120 "Height" 160)}}

        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ .Title }}</h5>

                <i class="bi bi-geo-alt"></i>
                {{ .Adress }}
                <br>

                <i class="bi bi-door-open"></i>
                {{$lang_data.data.room}}{{ .Room }}
                <br>

                <i class="bi bi-envelope-at"></i>
                {{$lang_data.data.mail}}{{ .Mail }}
                <br>

                {{ if .Tel }}
                <i class="bi bi-telephone"></i>
                {{$lang_data.data.tel}}{{ .Tel }}
                <a href="{{.Context.RelPermalink}}" class="stretched-link"></a>
                {{ end }}
            </div>
        </div>
    </div>
</div>