<div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ .Title }}</h4>

      <p class="text-secondary">
          <i class="bi bi-person-vcard p-1"></i>
        {{ .Authors}}
      </p>

      {{if .Conference}}
      <i class="bi bi-bag-fill p-1"></i>
      {{ .Conference }}
      {{end}}

      {{if .Located}}
      <br>
      <br>
      <i class="bi bi-geo-alt p-1"></i>
      {{ .Location }}
      {{end}}
  
      <p class="card-text">{{ .Content }}</p>

      <a href="{{ absURL .Link }}" type="button" class="btn btn-info" aria-current="page">Download/DOI</a>

    </div>
  </div>