{{ $lang_data := index site.Data site.Language.Lang}}

<div class="card">
  <div class="card-body">
    <!--Make card to link with css-->
    <a href="{{ absURL .Campo}}" class="stretched-link"></a>
    <h4 class="card-title">{{ .Title }}</h4>
    <p class="card-text">{{ .Content }}</p>
    <div class="row">
      <div class="col-sm">
        <i class="bi bi-stars p-1"></i>
        <b>{{$lang_data.data.credits}}</b>{{ .Credits }}
      </div>
      <div class="col-sm">
        <i class="bi bi-calendar2-check p-1"></i>
        <b>{{$lang_data.data.term}}</b> {{ .Term }}
      </div>
    </div>
    <div class="row pt-2">
      <div class="col-sm">
        <i class="bi bi-mortarboard p-1"></i>
        <b>{{$lang_data.data.level}}</b>{{ .Level }}
      </div>
      <div class="col-sm">
        <i class="bi bi-card-list p-1"></i>
        <b>{{$lang_data.data.type}}</b>{{ .Type }}
      </div>
    </div>

    <div class="row pt-2">
      <div class="col-sm-6">
        <i class="bi bi-bar-chart-line"></i>
        <b>{{$lang_data.data.theory}}</b>
        <div class="progress">
          <div class="progress-bar-striped t" role="progressbar" style="width: {{- .Theory -}}%"
            aria-valuenow="{{- .Theory -}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="col-sm-6">
        <i class="bi bi-bar-chart-line-fill"></i>
        <b>{{$lang_data.data.practice}}</b>
        <div class="progress">
          <div class="progress-bar-striped p" role="progressbar" style="width: {{- .Practice -}}%"
            aria-valuenow="{{- .Practice -}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</div>