{{- $odd := true}}


<div class="d-md-block">
    <div class="row justify-content-center pb-3">
        <div class="col-md-6 col-sm-10">
            <div class="row">
                {{ range where .Site.RegularPages "Params.section" "Teaching/Courses" }}
                {{if $odd}}
                {{- $idtitle := printf "title%d" (crypto.FNV32a (printf "%s" .Title))}}
                    <div class="pt-3" id="{{$idtitle}}">
                        {{ partial "card_course.html" (dict  "Campo" .Params.campo "Title" .Title  "Content" .Content "Credits" .Params.credits "Term" .Params.term 
                        "Level" .Params.level "Type" .Params.type "Theory" .Params.theory "Practice" .Params.practice "Context" .) }}
                    </div>
                {{ end }}
                {{$odd = not $odd}}  
                {{ end }}
            </div>
        </div>
        <div class="col-md-6 col-sm-10">
            <div class="row">
                {{$odd = false}}
                {{ range where .Site.RegularPages "Params.section" "Teaching/Courses" }}
                {{if $odd}}
                {{- $idtitle := printf "title%d" (crypto.FNV32a (printf "%s" .Title))}}
                    <div class="pt-3" id="{{$idtitle}}"  >
                        {{ partial "card_course.html" (dict "Campo" .Params.campo "Title" .Title "Content" .Content "Credits" .Params.credits  "Term" .Params.term 
                        "Level" .Params.level "Type" .Params.type "Theory" .Params.theory "Practice" .Params.practice "Context" .) }}
                    </div>
                {{ end }}
                {{$odd = not $odd}}
                {{ end }}
            </div>
        </div>
    </div>
</div>
