{{ $lang_data := index site.Data site.Language.Lang}}

<footer class="mt-auto">

    <nav class="navbar sticky-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://www.fau.de/">
                <img src="{{site.Params.fauLogo | relURL}}" class="rounded" height="40" alt="Logo FAU">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel"> Options</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                href="https://www.campo.fau.de/qisserver/pages/cs/sys/portal/hisinoneStartPage.faces">{{$lang_data.data.campo}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="https://univis.fau.de/">{{$lang_data.data.univis}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="https://www.jobs.fau.de/">{{$lang_data.data.jobs}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                href="https://karte.fau.de/#9/49.3385/11.1813">{{$lang_data.data.map}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="https://www.fau.de/notfall/">{{$lang_data.data.emergency}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                href="https://www.chaac.tf.fau.de/impressum/">{{$lang_data.data.imprint}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                href="https://www.chaac.tf.fau.de/datenschutz/">{{$lang_data.data.privacy}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                href="https://www.chaac.tf.fau.de/barrierefreiheit/">{{$lang_data.data.accessability}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" href="https://www.youtube.com/channel/UCriv-9bQeZ0uSgh46cms-Iw"
                                target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#c4302b"
                                    class="bi bi-youtube" viewBox="0 0 16 16">
                                    <path
                                        d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z" />
                                </svg>
                            </a>
                            <a class="navbar-brand"
                                href="https://twitter.com/i/flow/login?redirect_after_login=%2FChaAC_FAU"
                                target="_blank">
                                <i class="bi bi-twitter-x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</footer>