<div class="row">
  <div class="banner">
    <div class="container">
      <div class="row mb-3 align-content-center">
        <div class="col-md-6 pt-3">
          <h3>{{ .Title }}</h3>
          {{- if .Function}}
          {{ .Function }}
          {{ end -}}
          {{- if .Content }}
          {{- .Content | markdownify}}
          <br>
          {{ end }}
          {{if .ToContact}}
          <a href="{{ .Link }}">
            <i class="bi bi-person-rolodex black h2"></i>
          </a>
          {{end}}
          <div class="row">
            {{if .Git}}
            <a href="{{ .Link }}">
              <i class="bi bi-gitlab h1 gitorange"></i>
            </a>
            {{end}}
          </div>
        </div>
        {{if .Map}}
        <div class="col-md-6 pt-3">
          <div class="h-100" style="text-align: right;">
              <iframe width="400" height="300" src="https://www.openstreetmap.org/export/embed.html?bbox=16.36697351932526%2C48.19557692966168%2C16.370090246200565%2C48.197025135533735&amp;layer=mapnik&amp;marker=48.19630103771457%2C16.36853188276291" style="border: 1px solid black"></iframe>
          </div>
        </div>
        {{end}}
        {{if .Image}}
        <div class="col-md-6 pt-3 d-none d-md-block">
          <div class="h-100" style="text-align: right;">
            {{partial "responsive_image.html" (dict "Image" .Image "Width" 400 "Height" 300)}}
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </div>
</div>