{{ $lang_data := index site.Data site.Language.Lang}}

<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary" style="background-color:#ffffff !important;">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{{site.Params.logo | relURL}}" class="rounded" height="40" alt="Logo Chaac">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/team">{{$lang_data.data.team}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/research">{{$lang_data.data.researchNav}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/publications">{{$lang_data.data.publications}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/teaching">{{$lang_data.data.teaching}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/jobs">{{$lang_data.data.jobs}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/news">{{$lang_data.data.news}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/contact">{{$lang_data.data.contact}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>