{{ define "main"}}

{{ range where .Site.Pages "Params.bannerteam" "!=" nil}}
{{ partial "gallery.html"  (dict "Title" .Title "Content" .Content "Image" .Params.image "Width" 400 "Height" 300) }}
{{ end }}

{{- $odd := true}}

<!--block in md-screen-width (in bootstrap grid system)-->
<div class="d-md-block">
    <div class="container pt-1">
        <div class="row justify-content-center pb-3">
            <div class="col-md-6 col-sm-10">
                <div class="row">
                    {{ range .Pages.ByParam "number" }}
                    {{if $odd}}
                    <div class="col-lg-12 pt-3">
                        {{ partial "card_pic_staff.html" (dict "Image" .Params.image "Title" .Title "Function" .Params.function "Context" .)}}
                    </div>
                    {{ end }}
                    {{$odd = not $odd}}
                    {{ end }}
                </div> 
            </div>
            <div class="col-md-6 col-sm-10">
                <div class="row">
                    {{$odd = false}}
                    {{ range .Pages.ByParam "number" }}
                    {{if $odd}}
                    <div class="col-lg-12 pt-3">
                        {{ partial "card_pic_staff.html" (dict "Image" .Params.image "Title" .Title "Function" .Params.function "Context" .)}}
                    </div>
                    {{ end }}
                    {{$odd = not $odd}}
                    {{ end }}
                </div>
            </div>

        </div>
    </div>
</div>

{{ end }}