{{ define "main"}}

{{ $lang_data := index site.Data site.Language.Lang}}

{{ range where .Site.Pages "Params.bannerteach" "!=" nil}}
{{partial "gallery.html"  (dict "Title" .Title "Content" .Content "Image" .Params.image "Width" 400 "Height" 300)}}
{{ end }}


<div class="container pt-3  pb-3">
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    {{$lang_data.data.courses}}
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    {{partial "course_list.html" .}}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseTwo">
                    {{$lang_data.data.principles}}
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    {{partial "course_principles.html" .}}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseThree">
                    {{$lang_data.data.teachingPhilosophy}}
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    {{partial "teaching_philosophy.html" .}}
                </div>
            </div>
        </div>
    </div> 

{{ end }}