{{ define "main"}}

{{ range where .Site.Pages "Params.bannerjob" "!=" nil}}
{{partial "gallery.html" (dict "Title" .Title "Content" .Content "Image" .Params.image "Width" 400 "Height" 300)}}
{{ end }}

{{ range where .Site.Pages "Params.joboffer" "!=" nil }}
<div class="container pt-3"> 
    {{partial "card_job_advertisement.html" (dict "Title" .Title "Employer" .Params.employer "Chair" .Params.chair "Location" .Params.Location
    "Time" .Params.time "Requirement" .Params.requirement "Content" .Content)}}
</div>
{{end}}

{{end}}