{{ define "main"}}

{{ $lang_data := index site.Data site.Language.Lang}}

<!--Banner with bannerlanding.md-->
{{ range where .Site.Pages "Params.bannerlanding" "!=" nil}}
{{ partial "gallery.html" (dict "Title" .Title "Content" .Content "Image" .Params.image "Width" 400 "Height" 300)}}
{{ end }}

<!--show news-->
<div class="container pt-3">
   <h3> <i class="bi bi-newspaper"></i>{{$lang_data.data.recentNews}}</h3>
   <div class="row justify-content-center">
      <!--$sortedNewsPages contains a list of sorted News-md's after param 'latestNews'-->
      {{ $pages := where .Site.Pages "Section" "news" }}      <!-- Filter pages from the 'news' section -->
      {{ $childPages := where $pages "IsSection" "!=" true }}             <!-- Exclude the parent page (section) -->
      {{ $sortedPages := sort $childPages "Date" "desc" }}             <!-- Sort them by date in descending order -->
      {{ range first 3 $sortedPages }}    
      <div class="col-sm">
         <!--CLickable, not with single but with link to News Single as md attribute-->
         <!--With Single it were repeated unnecessarily-->
         {{ partial "card_landing_news.html" . }}
      </div>
      {{ end }}
   </div>
</div>
<br>
 

<!--show information for students-->
<div class="banner">
   <div class="container pt-3">
      <h3> <i class="bi bi-backpack"></i>{{$lang_data.data.students}}</h3>
      <!--row for three rows-->
      <div class="row">
         <div class="col-md-4">
            {{ range where .Site.Pages "Params.landingcontent_C" "!=" nil}}
            {{partial "card_forstudents_landing.html" (dict "Teaching" true "Title" .Title "Link" .Params.link "Content" .Content)}}
            {{end}}
         </div>
         <div class="col-md-4">
            {{ range where .Site.Pages "Params.landingcontent_T" "!=" nil}}
            {{partial "card_forstudents_landing.html" (dict "Thesis" true "Title" .Title "Link" .Params.link "Content" .Content )}}
            {{end}}
         </div>
         <div class="col-md-4">
            {{ range where .Site.Pages "Params.landingcontent_J" "!=" nil}}
            {{partial "card_forstudents_landing.html" (dict "Jobs" true "Title" .Title "Link" .Params.link "Content" .Content )}}
            {{end}}
         </div>
      </div>
   </div>
   <br>
</div> 




{{ end }}