{{define "main"}}

<!--banner in Banners/bannernews-->
{{ range where .Site.Pages "Params.bannernews" "!=" nil}}
{{partial "gallery.html" (dict "Title" .Title "Content" .Content "Image" .Params.image "Width" 400 "Height" 300)}}
{{ end }}

<div class="container pt-1">
    <div class="row justify-content-center pb-3">
        <div class="row">
            <!--latestNews attribute ranges after temporally relevance-->
            {{ range .Pages.ByParam "latestNews" }}
            <div class="col-md-6 col-sm-10">
                <div class="pt-3 h-100">
                    {{ partial "card_news.html" (dict "Title" .Title "Shorttitle" .Params.shorttitle "Release" .Params.release "Content" .Content
                    "Context" .) }}
                </div> 
            </div>
            {{ end }}
        </div>
    </div>
</div>


{{end}}