{{ define "main" }}

<div class="container" id="about">
    <div class="row justify-content-center">
        <div class="col-lg-10 pt-3 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="row p-3">
                    <div class="col-auto">
                        <img src="{{ .Params.image | relURL }}" class="img-fluid rounded" alt="">
                    </div>
                    <div class="col pt-4">
                        <h4 class="card-title" >{{ .Title }}</h4>
                        <h4 class="card-title text-secondary" >{{ .Params.shorttitle }}</h4>
                        <button type="button" class="minibutton"> {{.Params.minirelease }}</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text text-break blocksatz">
                        {{ .Content }}                
                    </div>
                    <a href="{{.RelPermalink}}" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</div>

{{end}}