{{define "main"}}

<!--banner, md in Banners/bannercontact-->
{{ range where .Site.Pages "Params.bannercontact" "!=" nil}}
{{ partial "gallery.html" (dict "Title" .Title "Content" .Content "Map" true "Link" .Params.link)}}
{{ end }}

{{- $odd := false}}
<div class="d-none d-md-block">
    <div class="container pt-1">
        <div class="row justify-content-center pb-3">
            <div class="col-md-6 col-sm-10">
                <div class="row">
                    <!--to render Head and Head's Assistant Cards-->
                    {{ range where .Site.Pages "Params.contact" "!=" nil}}                   
                    <div class="col-lg-12 pt-3">
                        {{ partial "card_pic_contact.html" (dict  "Image" .Params.image "Title" .Title "Adress" .Params.adress
                        "Room" .Params.room "Mail" .Params.mail "Tel" .Params.tel "Context" .)}}
                    </div>                
                    {{$odd = not $odd}}
                    {{ end }}
                </div>
            </div>
            <div class="col-md-6 col-sm-10">
                <div class="row">
                    {{$odd = true}}
                    {{ range where .Site.Pages "Params.assistant" "!=" nil}}
                    {{if $odd}}
                    <div class="col-lg-12 pt-3">
                        {{ partial "card_pic_contact.html" (dict  "Image" .Params.image "Title" .Title "Adress" .Params.adress
                        "Room" .Params.room "Mail" .Params.mail "Tel" .Params.tel "Context" .)}}
                    </div>
                    {{end}}
                    {{$odd = not $odd}}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>


{{- $odd := true}}
<div class="d-none d-md-block">
    <div class="container pt-1">
        <div class="row justify-content-center pb-3">
            <div class="col-md-6 col-sm-10">
                <div class="row">
                    <!--to render ArrivalBy... cards-->
                    {{ $pages := where .Site.Pages "Section" "contact" }}      <!-- Filter pages from the 'news' section -->
                    {{ $childPages := where $pages "IsSection" "!=" true }}             <!-- Exclude the parent page (section) -->
                    {{ $sortedPages := sort $childPages "Date" "desc" }}             <!-- Sort them by date in descending order -->
                    {{ range $sortedPages }}   
                    {{if $odd}}
                    <div class="col-lg-12 pt-3">
                        {{ partial "card_contact.html" (dict "Title" .Title "Image" .Params.image "Content" .Content "Context" .)}}
                    </div>
                    {{ end }}
                    {{$odd = not $odd}}
                    {{ end }}
                </div>
            </div>
            <div class="col-md-6 col-sm-10">
                <div class="row">
                    {{$odd = false}}
                    {{ range $sortedPages }}                       
                    {{if $odd}}
                    <div class="col-lg-12 pt-3">
                        {{ partial "card_contact.html" (dict "Title" .Title "Image" .Params.image "Content" .Content "Context" .)}}
                    </div>
                    {{ end }}
                    {{$odd = not $odd}}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}


